<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hsin Learning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="sass/style.css">
</head>

<body>
    <!--上方列表-->
    <header id="header">
        <h1 class="logo">
            <a href=""><img src="images/logo03.png" alt=""></a>
            <div class="phone_bar">
                <img src="images/menubar.svg" alt="">
            </div>
            <!--手機版面才出現-->
        </h1>
        <ul class="menu phone_menu">
            <li><a href="" class="section00">首頁</a></li>
            <li><a href="" class="section01">關於我們</a></li>
            <li class="submenu"><a href="" class="subbtn">進修項目</a>
                <div class="subitems">
                    <a href="" class="section2_1">日語讀書會</a>
                    <a href="" class="section2_2">甜點工作坊</a>
                    <a href="" class="section2_3">跑跑俱樂部</a>
                    <a href="" class="section2_4">上山休息去</a>
                </div>
            </li>
            <li><a href="" class="section03">最新活動</a></li>
            <li><a href="" class="section04">聯絡我們</a></li>
        </ul>
    </header>
    <!--大圖切換-->
    <section id="about">
        <div class="slideImages fadeIn">
            <img src="images/slide00.jpg" alt="">
        </div>
        <div class="slideImages fadeIn">
            <img src="images/slide01.jpg" alt="">
        </div>
        <div class="slideImages fadeIn">
            <img src="images/slide02.jpg" alt="">
        </div>
        <div class="slideImages fadeIn">
            <img src="images/slide03.jpg" alt="">
        </div>
        <div class="slideImages fadeIn">
            <img src="images/slide04.jpg" alt="">
        </div>
    </section>
    <!--理念-->
    <section id="idea">
        <h3>其實投資自己很划算！</h3>
        <p>透過這個平台</p>
        <p>鼓勵大家勇敢追求夢想，做自己有興趣的事</p>
        <p>利用時間充實自己、學習新事物</p>
        <p>不僅增加競爭力，並培養更多自信和個人魅力！</p>
        <p>學習路上你不孤單，大家相互扶持、一起向前走</p>
        <p>Come on!</p>
        <h3>其實投資自己很划算！</h3>
        <p>透過這個平台</p>
        <p>鼓勵大家勇敢追求夢想，做自己有興趣的事</p>
        <p>利用時間充實自己、學習新事物。</p>
        <p>不僅增加競爭力，並培養更多自信和個人魅力！</p>
        <p>學習路上你不孤單，大家相互扶持、一起向前走</p>
    </section>
    <!--活動類別介紹-->
    <section id="studies">
        <li>
            <div class="big_img">
                <img src="images/japanese.jpg" alt="">
            </div>
            <div class="scription" id="japanese">
                <h2>日語讀書會</h2>
                <p>不再有苦說不出！專業師資直接在課堂中為您解答學習問題，有問題？隨時問！</p>
                <p>不再有苦說不出！專業師資直接在課堂中為您解答學習問題，有問題？隨時問！</p>
                <div class="small_img">
                    <img src="images/japanese.jpg" alt="">
                    <img src="images/japanese.jpg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="big_img">
                <img src="images/dessert.jpg" alt="">
            </div>
            <div class="scription" id="dessert">
                <h2>甜點工作坊</h2>
                <p>做烘焙可以讓你忘記時間、忘記煩惱；等聽到烤箱叮的一聲，那會是你最期盼的時刻！</p>
                <p>做烘焙可以讓你忘記時間、忘記煩惱；等聽到烤箱叮的一聲，那會是你最期盼的時刻！</p>
                <div class="small_img">
                    <img src="images/dessert.jpg" alt="">
                    <img src="images/dessert.jpg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="big_img">
                <img src="images/running.jpg" alt="">
            </div>
            <div class="scription" id="running">
                <h2>跑跑俱樂部</h2>
                <p>人生太難，跑步比較簡單。只要循序漸進，你一樣可以享受跑步的樂趣。</p>
                <p>人生太難，跑步比較簡單。只要循序漸進，你一樣可以享受跑步的樂趣。</p>
                <div class="small_img">
                    <img src="images/running.jpg" alt="">
                    <img src="images/running.jpg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="big_img">
                <img src="images/climbing.jpg" alt="">
            </div>
            <div class="scription" id="climbing">
                <h2>上山休息去</h2>
                <p>每個人來到這個世界上，就像一個登山客，有自己的山要攀登，有自己的目標要前往</p>
                <p>讓我們一起走遍台灣大大小小的山、感受大自然的千變萬化、享受這塊美麗的寶島！</p>
                <div class="small_img">
                    <img src="images/climbing.jpg" alt="">
                    <img src="images/climbing.jpg" alt="">
                </div>
            </div>
        </li>
    </section>
    <!--活動訊息-->
    <section id="news">
        <div class="activities">
            <h2>近期的活動</h2>
            <div class="inner">
                <select name="activities" v-model="input.type">
                    <option>全部</option>
                    <option>日語讀書會</option>
                    <option>甜點工作坊</option>
                    <option>跑跑俱樂部</option>
                    <option>上山休息去</option>
                </select>
                <input type="text" placeholder="關鍵字搜尋..." v-model.trim="input.title">
            </div>
            <table>
                <tr>
                    <th></th>
                    <th>活動類別</th>
                    <th>日期</th>
                    <th>主題</th>
                </tr>
                <tr class="activitiesItem" v-for="(item,index) in titleActivities">
                    <td class="number">{{index+1}}</td>
                    <td class="type">{{item.type}}</td>
                    <td class="date">{{item.date}}</td>
                    <td class="title"><a :href="item.link" target="vue-iron">{{item.title}}</a></td>
                </tr>
            </table>
        </div>
    </section>
    <!--報名表-->
    <section id="signup_form">
        <h3>報名表</h3>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <span>活動類別</span>
                    <select name="" v-model="select">
                        <option value="－－請選擇－－" selected>－－請選擇－－</option>
                        <option value="" v-for="(option,index) in typeClassify" v-bind:value="option">{{option}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <span>主題場次</span>
                    <select name="" v-model="select">
                        <option value="－－請選擇－－" selected>－－請選擇－－</option>
                        <option v-for="option in titleClassify" v-bind:value="option.type">
                            {{(option.date)+'：'+(option.title)}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName"></label>
                    <input type="text" class="form-control" id="inputName" placeholder="姓名">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPhone"></label>
                    <input type="text" class="form-control" id="inputPhone" placeholder="電話">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail"></label>
                <input type="email" class="form-control" id="inputEmail" placeholder="E-mail">
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        訂閱電子報隨時掌握最新活動
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-danger submit_btn" disabled>送出</button>
        </form>
    </section>
    <!--底部-->
    <footer id="contact">
        <div class="inner">
            <div class="row">
                <div class="col-md-4 footer_logo">
                    <img src="images/footer_logo.png" alt="">
                </div>
                <div class="col-md-5 footer_text">
                    <p class="contact_title">CONTACT</p>
                    <p>地址：碧雲深處路難尋<br>
                        電話：00-1234-5678<br>
                        信箱：hsin_learning@together.com<br>
                        網址：www.hsin_learning.com.tw<br>
                    </p><br><br>
                    <p>copyright &copy; 2020 Hsin Learning</p>
                </div>
                <div class="col-md-3 footer_icon">
                    <div class="icon_list">
                        <a href=""><img src="images/instagram.svg" alt=""></a>
                        <a href=""><img src="images/facebook.svg" alt=""></a>
                        <a href=""><img src="images/line.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--回到上方按鈕-->
    <div id="topbtn"></div>

    <!--JS部分-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="jspart.js"></script>
    <script src="vue.js"></script>
</body>

</html>